
*{
   margin: 0;
   padding: 0;
}
.alllognav{
    background-color:#0071f8;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    padding: 1em 2em;
   
}
.log{
    padding: 8px 9px;
}
.log img{
    width: 100px;
}
.nav{
    
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
 
}
.nav li{
    list-style: none;
    padding: 15px 20px;
}
.nav li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
li button{
   
    
    padding: 10px 12px;
    background-color: #ed5f63;
    color: white;
    border: none;
    outline: none;
    border-radius: 2em;
}

.alllognav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.all2{
    margin-top:2cm ;
    padding: 1em 3em;
    background-image: url('images/banner-bg.jpg.jpeg');
    background-size: cover;
    display: flex;
    gap:8em;

    
    
    
}
.allbtnin{
    background-color: white;
    display: flex;
    width: 56%;
    border: none;
    outline: none;
    border-radius: 20px;
    align-items: center;
    margin-top: 1cm;
    justify-content: space-between;
    
}
input{
    border: none;
    outline: none;
    border-radius: 2px;
    text-align:center;
    background: transparent;
   

}
.par{
    margin: 1em  2em;
    gap: 2em;
    
}
p6{
    color: rgb(94, 57, 57);
    margin-top: 1cm;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.best{
    color: white;
    font-size: 40px;
    margin-top: 1cm;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.p1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#ak{
    padding-left: 3cm;
}
.allall{
    background-image: url('../images/banner-bg.jpg.jpeg');
    background-size: cover;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-position: center;
    position: relative;

   

}
.butto button{
    border-radius: 20px;
    background-color:#ed5f63;
    border: none;
    color: white;
    font-weight: bold;
    padding: 1em 1em;
}
.butto button:hover{

   background-color:  #0071f8;
   transition: 1s;

}
.umb{
    position: absolute;
    top:0;
    background-color:#0071f8;
    margin-top: 0.5cm;
    color: white;
    font-size: 30px;
    font-weight: bold;
    right: 15px;
    border-radius: 40px;
    padding: 0.3em 1em;
    
}
.imga{
    position: relative;
}
.umb2{

position:absolute;
bottom: 0;
background-color: #ed5f63;
border-radius: 50%;
color: white;
font-size: 15px;
padding: 2em;
left:-40px;
bottom:-18px;

}
.grid1 img{
    background-color: #0071f8;
    width: 40%;
    border-radius: 50%;
    padding:  1em;
    align-items: center;
}
.grid1 img:hover{
    background-color: #ed5f63;

}
.grid1{
    background-color:white;
    width: 80%;
    padding:  3em ;
    justify-items: center;
    border-radius: 20px;
}
.p2{
    margin-top: 0.5cm;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.grids{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 2em 2em;
    position: absolute;
    bottom:-400px;
    gap: 2.5cm;
}
.another{
    padding: 1em 2em ;
    display: flex;
    gap: 50em;
    
}

.p4{
    margin-top: 3cm;
    color: #ed5f63;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p5{
    margin-top: 0.5cm;
   font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bu3 button{
    background-color: #ed5f63;
    padding: 1em 2em;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-top: 4cm;
}






.photoes{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 2em 2em;

  gap: 2em;
}
.boxes{
    background-color: #A1A1AA;
    width: 70%;
    border-radius: 20px;
}
.num {
    background-color: #0071f8;
    position: absolute;
    padding: 2px 12px;
    top: 0;
    margin-top: 0.3cm;
    border-radius: 5px;
   left: 140px;
}
.photo{
    position: relative;
   
    
}
.photo img{
    width: 100%;
    border-radius: 20px;
}
.par4{
    display: flex;
    justify-content: space-between;
    padding: 2em;
  
   

}
.par4 img{
    width: 30PX;
    height: 30PX;
}
