
*{
    margin-top: 0;
}
.alllognav{
    background-color:#0071f8;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    padding: 1em 2em;
}
.log{
    padding: 8px 9px;
}
.log img{
    width: 100px;
}
.nav{
    
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
 
}
.nav li{
    list-style: none;
    padding: 15px 20px;
}
.nav li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
li button{
   
    
    padding: 10px 12px;
    background-color: #ed5f63;
    color: white;
    border: none;
    outline: none;
    border-radius: 2em;
}

.alllognav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all2{
    padding: 1em 3em;
    background-image: url('../images/banner-bg.jpg.jpeg');
    background-size: cover;
    display: flex;
    gap:8em
    
}
.allbtnin{
    background-color: white;
    display: flex;
}
.par{
    margin: 1em  2em;
    gap: 2em;
    
}
p{
    color: white;
    margin-top: 1cm;
    font-size: 18px;
}
.best{
    color: white;
    font-size: 40px;
    margin-top: 1cm;
}
.p1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1cm;
}
#ak{
    padding-left: 3cm;
}