
*{
    margin-top: 0;
}
.alllognav{
    background-color: dodgerblue;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    padding: 1em 2em;
}
.log{
    padding: 8px 9px;
}
.log img{
    width: 100px;
}
.nav{
    
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
 
}
.nav li{
    list-style: none;
    padding: 15px 20px;
}
.nav li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
li button{
   
    
    padding: 10px 12px;
    background-color: #ed5f63;
    color: white;
    border: none;
    outline: none;
    border-radius: 2em;
}

.alllognav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all2{
    background-image: url('../images/banner-bg.jpg.jpeg');
    background-size: cover;
}